<div class="container">
    <div class="wrapper">
    <div class="header">
        <h1>Mystic</h1>
        <h3>fashion</h3>
    </div>
        <button class="shop-btn">Poseti Prodavnicu</button>
</div>
</div>
<div class="grid-wrapper">
    <div class="vertical">
        <div class="vertical-wrapper">
          <p>Nesto Ovde ce bude</p>
        </div>
    </div>
    <div class="content">
        <div class="title-box">
           <h3>Title of Blog yes yesh</h3>
        </div>
        <div class="img-wrapper">
            <!-- ove sa ngfor ce napravimo vise img-block -->
            <div class="img-block">
                <img src="../../assets/wallpaper.jpg" alt="img1">
            </div>
            
        </div>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus 
            laudantium reprehenderit similique dignissimos saepe? Incidunt 
            mollitia molestiae magni inventore sed repellat illo, harum, doloribus 
            quis iure expedita consequuntur ab dolore!
        </p>
        <div class="view">
            <a href="#">Pogledaj</a>
            <div class="line"></div>
        </div>
        <div class="slide-number">
            <p>01/04</p>
        </div>
        
    </div>
    <div class="social">
        <app-social-media></app-social-media>
    </div>
    <div class="buttons">
        <div class="buttons-wrapper">
            <button class="left-slide"> < </button>
            <button class="right-slide"> > </button>
        </div>
    </div>
</div>