.social-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.wrapper {
    height: 180px;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
